@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<style>
    *{
        overflow:hidden;
       
    }
   
    h1{
        border-bottom: solid 1px;
        color: rgb(255, 255, 255,0.6);
    }
    h3{
        color: rgb(255, 255, 255,0.6);
    }
</style>
<div style="padding:20px">
<h1>Zarządzaj kontem</h1>

<div>
   
    
    <div class="row" >
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
